body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* profile section */

p {
  font-family: Open Sans;
}

select {
  font-family: Open Sans;
}

#container {
  width: 80%;
  height: 100%;
  background-color: #ffcc66;
  position: relative;
  max-width: 1000px;
  max-height: 800px;
}
#leftCol {
  background-color: #f2f2f2;
  float: left;
  width: 35%;
  height: 85%;
  margin-left: 5%;
  margin-top: 5%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 5px 0px 0px 5px;
  -webkit-box-shadow: -10px 12px 28px -4px rgba(117,113,117,0.62);
  -moz-box-shadow: -10px 12px 28px -4px rgba(117,113,117,0.62);
  box-shadow: -10px 12px 28px -4px rgba(117,113,117,0.62);

}
#rightCol {
  float: left;
  background-color: white;
  display: block;
  width: 55%;
  height: 85%;
  margin-top: 5%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 0px 5px 5px 0px;
  -webkit-box-shadow: 10px 12px 28px -4px rgba(117,113,117,0.62);
  -moz-box-shadow: 10px 12px 28px -4px rgba(117,113,117,0.62);
  box-shadow: 10px 12px 28px -4px rgba(117,113,117,0.62);
}


/* We need the headers to be sticky */
#rightColHeader {
  padding-top: 10px;
  background-color: white;
  position: sticky;
  top: 0;
  width: 80%;
  margin: auto;
  z-index: 10000;
}

#leftColHeader {
  background-color: #f2f2f2;
  padding-top: 10px;
  position: sticky;
  top: 0;
  width: 80%;
  margin: auto;
}

/* Content details */
.balanceAmount {
  float: right;
  display: block;
  padding-right: 10px;
  color: black;
  font-size: 150%;
  font-weight: bold;
  background-color: white;
}

.leftColPlus {
  float: right;
  display: block;
  padding-right: 10px;
  background-color: #f2f2f2;
}

#leftColContent {
  background-color: #f2f2f2;
  width: 80%;
  margin: auto;
}

#rightColContent {
  width: 80%;
  margin: auto;
}

#leftColHeader h1 {
    font-family: Open Sans;
    font-weight: 200;
    font-size: 150%;
    color: #707584;
    height: 100px;
}

#rightColHeader h1 {
  font-family: Open Sans;
  font-weight: 200;
  font-size: 150%;
  color: #707584;
  background-color: white;
}

hr {
  margin-top: 50px;
  background-color: white;
}

.cardBox {
  border: 1px solid #e1e1e1;
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 5px;
}

.active {
  border: 4px solid #8393ca;
}

#entryBox {
  position: relative;
}

.transType {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.transaction {
  display:inline-block;
  height: 100%;
  vertical-align: middle;
  padding-left: 15px;
}

.dollarsCredit {
  display: inline-block;
  float: right;
  height: 100%;
  vertical-align: middle;
  font-family: Open Sans;
  color: #66cc33;
}

.dollarsDebit {
  display: inline-block;
  float: right;
  height: 100%;
  vertical-align: middle;
  font-family: Open Sans;
  color: #8b9ace;
}

.lineItem {
  font-size: 125%;
  margin-bottom: 0px;
  font-family: Open Sans;
}

.itemDetails {
  font-size: 100%;
  color: #999999;
  margin-top: 8px;
  font-family: Open Sans;
}

.cardNumber {
  font-family: Roboto;
}

.cardDate {
  font-family: Roboto;
  color: #b3b3b3;
}

.forMobile {
  display: none;
}

.currentCard {
  display: none;
}

sup {
  font-size: 50%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 20000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 5px 5px 5px 5px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: 400;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* Style modal form */
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
label {
  font-family: Open Sans;
}
#myModal h3 {
  font-family: Open Sans;
}

/* Make responsive */
@media screen and (max-width: 1024px) {
    #leftCol {
        display: none;
    }
    #rightCol {
      width: 80%;
      margin-left: 10%;
    }
    #rightColHeader h1 {
      font-size: 100%;
    }
    .balanceAmount {
      font-size: 100%;
    }
    .lineItem {
      font-size: 65%;
    }
    .itemDetails {
      font-size: 60%;
    }
    .dollarsCredit {
      font-size: 75%;
    }
    .dollarsDebit {
      font-size: 75%;
    }
    .transType {
      display: none !important;
    }
    .forMobile {
      display: block;
    }
    .currentCard {
      display: block;
      font-size: 60%;
    }
}
